.HomeWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--black);
  padding-right: 1rem;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}
.DetailsWrapper {
  display: flex;
  width: 100%;

  justify-content: space-between;
  padding: 1rem 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  

}
.cardDetails {
  width: 270px;
  margin-top: 10px;
 
  height: 90px;
  border-radius: 4px;
  background-color: var(--light);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cardDetails h1 {
  color: var(--text);

  font-size: 3rem;
  margin: 0;
  padding: 0;
}
.cardDetails p {
  color: var(--textWhite);
}
.cardDetails h3 {
  margin-top: 10px;
  color: var(--secondary);
}

.ChartsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.chartContainer {
  width: 550px;
  margin-top: 1rem;
  border-radius: 6px;
  background-color: var(--light);
  display: flex;
  flex-direction: column;

}
.ChartHeading {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 1rem 0;
}
.ChartHeading p {
  font-size: 1rem;
  color: var(--dark);

  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
.ChartHeading button {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #eb1616;
  text-decoration: none;
}

.TableWrapper {
  width: 100%;
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  box-sizing: border-box;
}
.TableContainer {
  padding: 1rem 0;
  width: 100%;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TableHading {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.TableHading h1 {
  font-size: 1rem;
  color: var(--dark);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
.TableHading button {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #eb1616;
  text-decoration: none;
}
.CalendarWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background-color: var(--light); */
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: red;
}
.CalendarContainer{
  width: 350px;
  height: auto;
  background-color: rgb(71, 58, 58);
 
  padding: 1rem 0;
}
.footerWrapper {
  width: 100%;
  background-color: var(--light);

  height: 10vh;

  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.footerDetails{
    display: flex;
    
    padding: 10px;
}
.footerDetails h1{
    font-size: 1rem;
    color: var(--text);
}
.footerDetails span{
    color: var(--textWhite);
}
.footercopyRight{
    display: flex;
    padding: 10px;
}
.footercopyRight h1{
    font-size: 1rem;
    color: var(--text); 
}
.footercopyRight span{
    color: var(--textWhite);

}




@media screen and (max-width: 670px){
  .DetailsWrapper{
    justify-content: center;
    gap: 5px;
  }
  .ChartsWrapper{

align-items: center;
flex-direction: column;
  }
  .chartContainer{
    width:95%;
  }
  .CalendarWrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .CalendarContainer{
    /* width: 30%; */
  }
} 