.sidebarWrapper{
    background-color: var(--light);
    height: 100%;
    width: 14%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 2rem;
    position: fixed;
    /* overflow-y: scroll; */
}


.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img{
    width: 50px !important;
    height: 50px;
}
.linksWrapper{
    width: 100%;
    /* background-color: red; */
}

.sideLinksWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
}

.sideLinksWrapper button{
    outline:none;
    border:none;
    background-color:black;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideLinksWrapper span{
    color: white;
    text-align: center;
    margin-left: 1rem;
    font-size: 1.2rem;
}
.linksWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    padding-top: 1rem;
    box-sizing: border-box;
}
.sideLinksWrapper:hover{
    background-color:rgb(0, 0, 0);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all ease 1s;

}

.active{
    background-color:var(--black);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}