@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}


  body{
    background-color: rgba(80, 78, 78, 0.753);
  }