.layoutLight{
display: flex;
    --primary: #3d6cd8;
        --secondary: #e8e8e8;
        --light: #191C24;
        --dark: #ffffff;
        --black:black;
        --text:#EB1616;
        --textWhite:#6C7293;
       background-color: var(--black);
       margin: 0;
       padding: 0;
       width: 100%;
       --search:rgba(255, 255, 255, 0.199);
       --hover:rgb(0, 0, 0);
       --bg-add:rgb(255, 255, 255);
}
.layoutDark{
    width: 100%;

    display: flex;
    --black:rgb(214, 205, 205);

        --primary: #EB1616;
        --text:#413b3b;
        --secondary: #191C24;
        --light: rgb(255, 255, 255) ;
        --dark: #000000;
        --search:rgba(13, 10, 10, 0.386);
       --hover:rgb(0, 13, 255);
       --bg-add:rgb(214,205,205);
}

.mainLayoutWrapper{
    display: flex;
    flex-direction: column;
    /* flex: 5; */
    width: 100%;
    /* background-color: yellow; */
    overflow-x: hidden;
}

.aside {
  background-color: var(--black);
  width: 20%;
  /* background-color: red; */
}
.main {

  width: 100%;
}